<p-dataview #dv [value]="items()">
    <ng-template #list let-items>
        <div class="rb-list">
            @for (rb of items; track $index; let first = $first) {
            <div class="rounded border border-surface shadow-sm overflow-hidden">
                <app-rb-item
                    [rb]="rb"
                           [showDetails]="showDetails()"
                    (deadTimeDraftChanged)="deadTimeDraftChanged.emit($event)"
                    (deadTimeChanged)="deadTimeChanged.emit($event)"
                />
            </div>
            }
        </div>
    </ng-template>
</p-dataview>