:host {
    display: flex;
    gap: 8px;
    padding: 0 20px;
}

.main-logo {
    width: 125px;
    margin-right: 30px;
}

.user-icon {
    padding-right: 20px;
}

:host {
    ::ng-deep a.menu-link-active {
        background: #f8f9fa !important;
        border-radius: 4px !important;
    }
}
