:host {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../../assets/images/login-bg.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

:host::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: inherit;
  background-position: inherit;
  filter: blur(6px);
  transform: scale(1.05);
}

.login-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 320px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.error {
  color: var(--p-red-500);
}
