.rb-item {
  width: 100%;
  display: flex;
  gap: 12px;
  align-items: center;
  background: lightgray;
  border-radius: 12px;
  padding: 8px 16px;
}

.info-block {
  display: flex;
  align-items: center;
  gap: 12px;
}

.rb-status {
  height: 25px;
}

.title-block {
  flex: 1;
}

.info-block {
  flex: 3;
}

.actions {
  align-self: flex-start;
}

.rb-img {
  width: 100px;
  border-radius: 8px;
}

.rb-name {
  margin-right: 12px;
}

.time-item {
  height: 42px;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  min-width: 170px;
}

@media (max-width: 800px) {
  .rb-img {
    width: 200px;
  }

  .resps-info {
    flex-direction: column !important;
    max-width: 207px;
    place-self: center;
  }

  .dead-time {
    justify-items: center !important;
  }

  .actions {
    align-self: center !important;
  }

  .title-wrapper {
    text-align: center;
  }
}

.small-details {
  padding: 8px 16px !important;

  .rb-lvl {
    margin-left: 16px;
  }

  .content-wrapper {
    align-items: center !important;
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    flex: 1.5;
  }

  .rb-content {
    display: flex;
    flex-direction: row !important;
  }

  .time-info {
    flex: 3;
    place-items: flex-start;
  }

  .actions {
    align-self: center !important;
  }

  @media (max-width: 800px) {
    .rb-content {
      flex-direction: column !important;
    }
    .title-wrapper {
      text-align: center;
    }
  }
}
